{% extends 'base.html' %}

{% block content %}
{% load static %}



<div class="breadcumb-area bg-img bg-overlay" style="background-image:url('{% static "assets/img/bg-img/hero-1.jpg" %}');">
</div>

<section class="dorne-single-listing-area section-padding-100">
    <div class="container">
        <div class="row">
            <!-- Image Column -->
            <div class="col-lg-4">
                <div class="single-listing-image">
                    <img src="{{ destination.image.url }}" alt="Destination Image" >
                </div>
            </div>
            <!-- Details Column -->
            <div class="col-lg-8 d-flex align-items-center justify-content-center ">
                <div class="single-listing-content">
                    <div class="listing-title">
                        <h4>{{ destination.place_name }}</h4>
                        <span><hr></span>
                        <p align="left">{{ destination.description }}</p>
                    </div>
                    <div class="listing-details">
                        <p><strong>Weather : </strong> {{ destination.weather }}</p>
                        <p><strong>Location : </strong>{{ destination.state }},{{ destination.district }}</p>
                        <p><strong>Google Map : </strong> <a href="{{ destination.google_map_link }}">View on Map</a></p>
                        <br>
                        <p>Find any issues ? Do you want to delete <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-danger">Delete</button></p>

                        <div  id="id01" style="display: none;">
                        <form method="post" action="{% url 'delete_destination' destination.id %}">
                            {% csrf_token %}
                            <h6 style="color: red;">Confirm to delete</h6>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                          </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Description Row -->
        
    </div>
</section>


{% endblock %}